.product-Items-rows {
    list-style-type: none;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
    padding: 0px 2px 0px 2px;
    overflow: hidden;
    margin-left: -27px;
}

.editBtn {
    background-color: #23df2c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    padding: 5px;
}

.dltBtn {
    background-color: #f10707;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    padding: 5px;
}