.company-details-container {
    width: 50%;
    min-height: 200px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
     
}

@media all and (min-width: 769px){
    .company-details-container {
        width: 100%; 
    }
}

.label {
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-input {
    min-width: 100%;
    height: 30px;
    outline: none;
    border-radius: 15px;
    border: 1px solid #0a6cf5;
    padding: 2px;
    margin-bottom: 5px;
}